#cxprincipal{
    width: 400px;
    height: 500px;
    background-color: antiquewhite;
    margin: auto;
    position: relative;
}
#cxcadeado{
    width: 250px;
    height: 280px;
    position: absolute;
    background-color: aquamarine;
    top:25px;
    left:45px;
}
#cxlogin{
    width: 250px;
    height: 140px;
    position: absolute;
    background-color: azure;
    top:340px;
    left:85px;
}
.fig1{
    width: 250px;
    height: 275px;
}